<div class="container">
<div class="contacts-text-container">
  <h3>Використовуйте</h3>
  <h1>Наші Контакти</h1>
  <h3>З'явилися питання чи сумніваєтеся у покупці? <br> Ви можете у будь-який момент зв'язатися з нами, <br> будь-яким
    зручним для вас способом.</h3>
</div>

<div class="contacts-filling-container">
  <div class="map-container">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d467.3283392510683!2d33.638619105726335!3d44.585900076510526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDTCsDM1JzA5LjUiTiAzM8KwMzgnMTkuNyJF!5e0!3m2!1suk!2sua!4v1668249460296!5m2!1suk!2sua"
      loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="icons-container">
    <table class="icons">
      <tr>
        <td>
          <div class="email-icon">
            <mat-icon> mail</mat-icon>
          </div>
        </td>
        <td>
          <div class="phone-icon">
            <mat-icon> phone</mat-icon>
          </div>
        </td>
        <td>
          <div class="social-icon">
            <mat-icon> group</mat-icon>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
