/*.login-form{*/
/*  background-color: #41b293;*/
/*  display: flex;*/
/*  justify-content: space-around;*/
/*  width: 35%;*/
/*  margin: 30px auto;*/
/*  border: black 1px solid;*/
/*  border-radius: 25px;*/
/*}*/

/*.filling{*/
/*  color: white;*/
/*  width: 180px;*/
/*  display: flex;*/
/*  gap: 0.5rem;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  padding: 10px 0;*/
/*}*/
/*.text-input{*/
/*  display: flex;*/
/*  width: 100%;*/
/*  flex-direction: column;*/
/*}*/
/*::ng-deep .remember.mat-checkbox .mat-checkbox-frame  {*/
/*  border-color: #028c6a;*/
/*}*/
/*::ng-deep .remember.mat-checkbox-checked .mat-checkbox-background {*/
/*  background-color: #028c6a !important;*/
/*}*/
/*button{*/
/*  color: #028c6a;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: space-around;*/
/*  width: 70%;*/
/*  height: 22px;*/
/*  background-color: white;*/
/*  border-radius: 30px;*/
/*}*/

/*mat-form-field{*/
/*  width: 180px;*/
/*}*/
/*::ng-deep .datepicker-one{*/
/*  background-color: #028c6a;*/
/*}*/
mat-card{
  margin: 1rem auto;
  width: 35%;
}
form{
  display: flex;
  flex-direction: column;
}
mat-card-title{
  display: flex;
  justify-content: center;
}
