.product{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.product-image{
  object-fit: cover;
  width: 20%;
  height: 20%;
}

.product-name{
  width: 30%;
  padding-left: 10%;
}

.pr-im-nm{
  position: static;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.pr-num{
  position: static;
  width: 40%;
}

.minus{
  padding: 0 0.4em;
  border-radius: 50%;
  background-color: #028C6A;
  border: none;
  color: #ffffff;
}

.plus{
  padding: 0 0.3em;
  border-radius: 50%;
  background-color: #028C6A;
  border: none;
  color: #ffffff;
}

.form {
  width: 5%;
  background-color: #ecf0f1;
  border: none;
  padding: 0.5em 1em;
  border-radius: 2em;
}

.product-price{
  position: static;
  width: 17%;
}

.delete{

  display: flex;
}

.del{
  position: relative;
  border: none;
  color: red;
  background-color: #fff;
}
