.product{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.product-image{
  object-fit: cover;
  width: 10%;
  height: 10%;
}

.minus{
  padding: 0 0.4em;
  border-radius: 50%;
  background-color: #028C6A;
  border: none;
  color: #ffffff;
}

.plus{
  padding: 0 0.3em;
  border-radius: 50%;
  background-color: #028C6A;
  border: none;
  color: #ffffff;
}

.form {
  width: 10%;
  background-color: #ecf0f1;
  border: none;
  padding: 0.5em 1em;
  border-radius: 2em;
}
.del{
  position: relative;
  border-radius: 50%;
  border: 2px solid rgb(231, 50, 50);
  background-color: #fff;
}
