.suggested-items-title{
  margin-top: 20px;
  background-color: #028C6A;
  width: 50%;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}

app-product-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-grid-list {
  display: flex;
  flex: 1;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
}
