.left-panel-shop {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.right-panel-shop {
  display: flex;
}

.search {
  width: 60%;
  height: 2rem;
}

.price{
  display: flex;
  flex-direction: column;
}

.price-range {
  width: 60%;
}
