.product-card {
  margin: 0 2rem;
}

mat-card {
  padding: 0;
}

mat-card-title {
  display: flex;
  justify-content: center;
}

.product-image {
  margin: 0;
  width: 100%;
  object-fit: scale-down;
  height: auto;
}

.description {
  padding: 10px;
}

.checkout {
  display: flex;
  justify-content: space-between
}

.price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

mat-card-actions {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.checkout-button {
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
