* {
  margin: 0;
  padding: 0;
}

.carousel-container {
  position: relative;
  margin: auto;
  text-align: center;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 8px 16px #dce1e1;
}

.carousel-container img {
  display: none;
  border-radius: 15px;
}

.carousel-container img.image-active {
  display: block;
  width: 100%;
  height: 400px;
}

.carousel-dot-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot {
  cursor: pointer;
  opacity: 0.5;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: lightgray;
  display: inline-block;
  border-radius: 50%;
  transition: opacity 0.6s ease;
}

.active, .dot:hover {
  opacity: 1;
}

.fade {
  animation: fade 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.btn-carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: 0 0;
  border: 0;
  cursor: pointer;
}

.btn-prev {
  left: 0;
}

.icon-carousel {
  color:white;
  opacity: 0.5;
  transition: all 0.15s ease;
}

.icon-carousel:hover{
  opacity: 0.9;
}
.icon-carousel:active{
  opacity: 0.6;
}

.icon-prev,.icon-next{
  font-size: 35px;
}

.btn-next{
  right: 0;
}

@media screen and (max-width: 600px){
  .carousel-container{
    width: fit-content;
    margin: auto;
  }
}
