<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 border-right">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <div class="row-md-6 d-flex align-items-center">
            <div>
            <mat-icon class="account-image"> account_circle</mat-icon>
            </div>
              <input type="file" id="photo">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-8 mt-3"><label class="labels">Ім'я</label><input type="text" class="form-control" placeholder="Введіть ім'я" value=""></div>
          <div class="col-md-8 mt-3" ><label class="labels">Прізвище</label><input type="text" class="form-control" placeholder="Введіть прізвище" value=""></div>
          <div class="col-md-8 mt-3"><label class="labels">По-батькові</label><input type="text" class="form-control" placeholder="Ввведіть по-батькові" value=""></div>
          <div class="col-md-8 mt-3"><label class="labels">Дата Народження</label><input type="date" class="form-control"></div>
        </div>
        <div class="mt-5"><button class="btn btn-success profile-button" type="button">Зберегти зміни</button></div>
      </div>
    </div>
  </div>
</div>
