<div fxLayout.lg = "row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
  class="about-us-container">
    <div class="about-us-photo">
      <img src="..\..\assets\about-us-shop-photo.jpg">
      </div>
    <div class="about-us-text">
       <h1> Про нас</h1>
       <p> ResTea - новачок у сфері продажу чаю, проте молодість лише говорить про завзятість та бажання ставати кращими.
       Наша команда й дня не може прожити без кружечки запашного чаю, тому продукція проходить ретельний відбір та контроль якості.
       У нашому асортименті лише найкращі чаї з усього світу та на будь-який смак: Улуни, Пуери, Мача, Квіткові та Фруктові чаї.
       Також ми постійно шукаємо щось цікаве з можливих товарів, постійно проводимо акції та знижки. Чай - наша пристрасть,
         тому ми так сильно хочемо розвивати та популяризувати світ хорошого та якісного чаю.</p>
       <a mat-button color="#028C6A" class="btn-about-us"> Читати більше </a>
    </div>
  </div>
