<div fxLayout.lg = "row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column"
  class="about-us-container">
    <div class="about-us-photo">
      <img src="https://images.unsplash.com/photo-1460627390041-532a28402358?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" >
    </div>
    <div class="about-us-text">
       <h1> Про нас</h1>
       <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum lacus, aliquet quis elementum non, rutrum ac sem. Quisque nec consequat tortor. Sed at tristique augue. Pellentesque id purus ac ex ullamcorper sagittis at eget dui. In eget congue metus, sed gravida erat. Maecenas rhoncus orci nisi, et pulvinar erat vestibulum et. Nullam sit amet finibus quam. Integer imperdiet dignissim iaculis. Integer fermentum vulputate sapien. Pellentesque non tellus vitae urna porttitor placerat. Cras at nulla dui. Duis ligula sapien, congue non velit nec, ultrices elementum libero.
        Maecenas massa nisi, volutpat at tempor volutpat, convallis non tellus. Sed sit amet quam eu urna sodales sodales sit amet quis ante. Maecenas pellentesque leo sit amet lorem gravida, ac vehicula sem cursus. Maecenas quis elit arcu. Donec fringilla diam non dapibus commodo. Donec libero risus, efficitur sed nisl quis, lobortis laoreet metus. Sed nec diam placerat, laoreet orci vel, porttitor lectus. Proin sem mi, consectetur et leo et, euismod sodales ipsum. Nam nec sollicitudin lorem. Duis sapien tellus, viverra vitae convallis a, efficitur eget purus. Etiam quis mollis ex, nec suscipit eros. Phasellus vitae hendrerit ante.</p>
       <a class="btn-about-us"> Читати більше </a>
    </div>
  </div>
