<div
     class="about-us-container">
  <div class="about-us-photo">
    <img src="assets/about-us-shop-photo.jpg">
  </div>
  <div class="about-us-text">
    <h1> Про нас</h1>
    <p> ResTea - новачок у сфері продажу чаю, проте молодість лише говорить про завзятість та бажання ставати кращими.
      Наша команда й дня не може прожити без кружечки запашного чаю, тому продукція проходить ретельний відбір та контроль якості.
      У нашому асортименті лише найкращі чаї з усього світу та на будь-який смак: Улуни, Пуери, Мача, Квіткові та Фруктові чаї.
      Також ми постійно шукаємо щось цікаве з можливих товарів, постійно проводимо акції та знижки. Чай - наша пристрасть,
      тому ми так сильно хочемо розвивати та популяризувати світ хорошого та якісного чаю.<br/>
      Привозимо чай безпосередньо з плантацій, особисто знаємо фермерів з усього світу. Купуємо в українських фермерів запашні трави й фрукти.<br/>
      У нас власне чайне виробництво, де ми розфасовуємо та красиво упаковуємо чай, робимо купажі. <br/>
      Просто можемо розповісти про будь-який крихітний процес, пов’язаний з продуктом. Запитуйте, поділимося!<br/>
      Ми покращуємо сервіс, розвиваємо виробництво та відкриваємо нові магазини. Команда та зростання компанії у нас важливі нарівні з продуктом.<br/>
      Ми в ResTea закохані у чай, але служимо не йому. Ми служимо людям і всьому людському. Розвиток, цікавість, відкритість, краса – ось шлях, яким ми йдемо.</p>
  </div>
</div>
