<div class = "container">
  <p class="head">Ваш кошик </p>
  <div class = "table">
    <div class="table_head">
      <div class = "table_pr">Продукт</div>
      <div class = "table_num">Кількість</div>
      <div>Ціна</div>
    </div>

  </div>

  <div class = "bottom">
    <div class="discount">
      <input type="text" class = "discount_in" placeholder = "Введіть код"/>
      <button class = "button">Використати знижку</button>
    </div>
    <button class = "button order">Замовити</button>
  </div>

</div>
