<div class = "container">
  <p class="head_text">Ваш кошик </p>

  <div class = "table">

    <div class="table_head">
      <div class = "table_pr">Продукт</div>
      <div class = "table_num">Кількість</div>
      <div>Ціна</div>
    </div>

    <div class="table_product1">

      <div class="product1_img">
        <img src="http://static.ddmcdn.com/gif/10-kitten-cuteness-1.jpg" alt="my_tea" />
      </div>

      <div class="product1_name"> My tea</div>
      <div class="product1_count">
        <a href="#" class="p1_c minus">-</a>
        <input  class="p1_form" type="numeric" value="1" />
        <a href="#" class="p1_c plus">+</a>
      </div>

      <div class="product1_price">
        70 грн
      </div>

      <button class = "product1_rm_bt"></button>
    </div>

  </div>

  <div class = "discount">
    <div class = "dis">
      <input type="text" class = "discount_in" placeholder = "Введіть код"/>
      <button class = "button">Використати знижку</button>
    </div>
    <button class = "button order">Замовити</button>
  </div>

</div>
