@font-face {
  font-family: ‘Marmelad’;
  src: url('https://fonts.google.com/specimen/Marmelad');
}

.container {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.head_text {
  text-align: center;
  font-size: 200%;
}

.table {
  max-width: 75em;
  width: 95%;
  margin: 20px;
  overflow: hidden;
  position: static;
  border-radius: 0.5em;
  border-color: black;
  background: #ecf0f1;
  align-items: center;
}

.table_head {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 17em;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  background: #4d4c4c;
  display: flex;
  height: 20px;
  gap: 16rem;

}

.table_product1 {
  display: flex;
  padding: 2em;
  z-index: 1;
  height: 20px;
  gap: 12rem;
}

.product1_rm_bt {
  margin-bottom: 10px;
}

.product1_img {
  display: flex;
}

.product1_count {
  display: flex;
  margin-left: 5em;
}

.p1_form {
  width: 15%;
  box-sizing: border-box;
  padding:10px;
  border:0;
  border-radius: 2em;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin: 0 15px;
}

.p1_c {
  padding: 5px 5px 5px 5px;
  background-color: #028C6A;
  color: white;
  border: none;
  border-radius: 0.5em;
}

.button {
  background-color: #028C6A;
  border: none;
  border-radius: 0.5em;
  color: #ffffff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.discount {
  display: flex;
  justify-content: space-between;
}

.dis{

}

.discount_in {
  background-color: #ecf0f1;
  border: none;
  padding-left:  1em;
  border-radius: 2em;
}

.order {
  margin-left: 45em;
  cursor: pointer;
}
