<div class="image-container">
  <img
    src="{{product.image}}"
  alt="image">
  <div class="right-panel">
    <h1>{{product.name}}</h1>
    <table class="instruction">
      <tr>
        <td>
          <img
            src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
            alt="image">
        </td>
        <td>
          <img
            src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
            alt="image">
        </td>
        <td>
          <img
            src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
            alt="image">
        </td>
        <td>
          <img
            src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
            alt="image">
        </td>
      </tr>
    </table>
    <div class="price-container">
      <p>Вага</p>
      <input type="number" name="price">
    </div>
    <button mat-button color="primary" id="add-btn"> Додати у кошик</button>
  </div>
</div>

<div class="bottom-panel">
  <div class="description">
    <p>
      {{product.description}}
    </p>
  </div>

  <div class="properties">
    <ul>
      <li>
        Країна-виробник: {{product.origin.name}} <p></p>
      </li>
      <li>
        Категорія: {{product.type.name}}
        <p></p>
      </li>
      <li>
        Смаки чаю: {{flavorsNames.join(", ")}}<p></p>
      </li>
      <li>
        Властивості чаю: {{propertiesNames.join(", ")}} <p></p>
      </li>
    </ul>
  </div>
</div>
