<div class="image-container">
  <img
    src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
  <div class="instruction-images">
    <h1>Назва</h1>
    <table class="instruction">
      <td>
        <img
          src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
        <img
          src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
        <img
          src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
        <img
          src="https://images.unsplash.com/photo-1616205255812-c07c8102cc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80">
      </td>
    </table>
    <div class="price-container">
      <p>Вага</p>
      <input type="number" name="price">
    </div>
  </div>
</div>

<div class="description">
  <p>
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  </p>
</div>
