* {
  margin: 0;
  padding: 0;
}

.carousel-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  position: relative;
  width: 70%;
}

.carousel-container h1 {
  text-align: center;
}
.carousel-container button{
  display: flex;
}
.carousel-container img, span {
  display: none;
}

.carousel-container span {
  margin-left: 15px;
}

.carousel-container img {
  border-radius: 100%;
}

.carousel-container img.post-active, .carousel-container span.post-active {
  display: block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  word-wrap: break-word;
}

span.post-active p {
  margin-top: 5%;
  margin-bottom: 5%;
}

.carousel-dot-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.dot {
  cursor: pointer;
  opacity: 0.5;
  width: 13px;
  height: 13px;
  margin: 0 5px;
  background-color: black;
  display: inline-block;
  border-radius: 50%;
  transition: opacity 0.6s ease;
}

.active, .dot:hover {
  opacity: 1;
}
