nav{
  background-color: black;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  width: 100%;
  justify-content: space-between
}

#left-items {
  display: flex;
  align-items: center;
  margin-left: 2%;
  width: 80%;
}

#logo {
  display: flex;
  color: white;
  height: 50px;
  width: 50px;
}

#text_buttons {
  margin-left: 2%;
  display: flex;
  width: 70%;
  height: 30px;
  gap: 2rem;
  align-items: center;
}
#text_buttons .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0;
  background-color: dodgerblue;
  border-radius: 7%;
  width: 20%;
  height: 100%;
}

#right-items{
  display: flex;
  justify-content: end;
  margin-right: 2%;
  width: 20%;
 }

#icon_buttons {
  width: 10%;
  gap: 1rem;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

#icon_buttons .btn {
  border-radius: 100%;
}
