<nav>
  <div class="page-title">
    <h1>Сторінка користувача</h1>
  </div>
  <ul>
    <li>
  <div class="page-button">
    <button color="primary" mat-button>Минулі замовлення</button>
  </div>
    </li>
    <li>
  <div class="page-button">
    <button  color="primary" mat-button>Змінити дані користувача</button>
  </div>
    </li>
    <li>
  <div class="page-button">
    <button color="primary" mat-button>Змінити пароль</button>
  </div>
    </li>
    <li>
  <div class="page-button">
    <button color="warn" mat-button>Вийти</button>
  </div>
    </li>
  </ul>
</nav>
