<mat-card class="product-card">
   <img mat-card-image class="product-image" src="{{product.image}}"
                                   alt="product image">
  <div class="description">
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-content class="checkout">
      <p class="price">{{product.price*50}}грн/50г</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>
              shopping_cart
            </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </div>
</mat-card>
