<mat-card class="product-card">
  <a [href]="items.itemLink"> <img mat-card-image class="product-image" src="{{items.itemImageSrc}}"
                                   alt="product image"> </a>
  <div class="description">
    <mat-card-title>{{items.itemName}}</mat-card-title>
    <mat-card-content class="checkout">
      <p class="price">{{items.itemPrice}}грн/50г</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-card-actions>
        <button mat-icon-button>
            <mat-icon>
              shopping_cart
            </mat-icon>
        </button>
      </mat-card-actions>
    </mat-card-footer>
  </div>
</mat-card>
