<div class="footer">
  <div class="left-items">
    <h3>ResTea</h3>
    <p>Офіційний інтернет-магазин чаю</p>
  </div>
  <div class="right-items">
    <div class="right-item">
      <p class="name">Каталог</p>
      <div class="items">
        <button mat-button routerLink="" color="accent">Головна</button>
        <button mat-button routerLink="shop" color="accent">Магазин</button>
        <button mat-button routerLink="blog" color="accent">Блог</button>
      </div>
    </div>
    <div class="right-item">
      <p class="name">Користувачам</p>
      <div class="items">
        <button mat-button routerLink="contacts" color="accent">Контакти</button>
        <button mat-button routerLink="about-us" color="accent">Про нас</button>
      </div>
    </div>
    <div class="right-item">
      <p class="name">Зв'яжіться з нами</p>
      <div class="items">
        <button mat-button color="accent">restea@gmail.com</button>
        <button mat-button color="accent">066 123 4567</button>
        <button mat-button color="accent">099 987 6543</button>
      </div>
    </div>
  </div>
</div>
